*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.label{

    margin :20px
}
form{

    display: flex;
    align-items: center;
    justify-content: center;
    direction: column;
}

